extends layout
block extraCSS
  link(rel="stylesheet", href="/stylesheets/about.css")
block extraJS
  script(src='/javascripts/about.js', defer)
block content
  .about_wrapper 
    //----TIMELINE INTRO/HEADER------
    .intro_container 
      img#about_logo(src='/images/logo_white.png' alt='Downtown Donuts')
      h1.company_name Downtown Donuts 
      p.intro_text ---Serving up smiles, hot and fresh, since 1992.---
    //----TIMELINE-----
    .time_line_container(aria-label='Timeline Carousel' aria-live='polite')
      ul.timeline_carosel 
        li.carosel_individual
          img.timeline_image(src='/images/logo_small.png' alt='Downtown Donut Logo Placeholder One')
          p.timeline_text. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li.carosel_individual
          p.timeline_text. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          img.timeline_image(src='/images/logo_small.png' alt='Downtown Donut Logo Placeholder Two')
        li.carosel_individual
          img.timeline_image(src='/images/logo_small.png' alt='Downtown Donut Logo Placeholder Three')
          p.timeline_text. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        li.carosel_individual
          p.timeline_text. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          img.timeline_image(src='/images/logo_small.png' alt='Downtown Donut Logo Placeholder Four')
        li.carosel_individual
          img.timeline_image(src='/images/logo_small.png' alt='Downtown Donut Logo Placeholder Five')
          p.timeline_text. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
            irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    //--BUTTONS---
    #timeline_navigation 
      .timeline_left(
        role='button'
        tabindex='0'
        aria-label='Previous'
      )
      .timeline_right(
        role='button'
        tabindex='0'
        aria-label='Next'
      )
